html, body{
  background-color: white;
  font-family: 'Lato', 'Roboto', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}
#ask-1{
margin: 0;
padding: 0;
padding-top: 4px;
padding-bottom: 5px;
padding-left: 5%;
background-color: #302d2e;
color: white;
}
#ask-2{
color: #FFF200;
}
#ask-2:hover{
color: #D8026D;
}
